<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="JsonPath" value="F:\项目\软谋\TLBBThread\TLBBThread\TLBBThread\TLBBThread\ConfigFiles"/>
  </appSettings>
</configuration>